<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLibs Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in words to create a custom madlibs story!</h1>
      <form action="/story" method="post">
        <div class="form-group">
          <label for="time">Select a time:</label>
          <input id="time" name="time" type="time" class="form-control">
        </div>
        <div class="form-group">
          <label for="name">Enter a name:</label>
          <input id="name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="drink">Enter the name of a beverage:</label>
          <input id="drink" name="drink" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="verb">Enter a past tense of a verb:</label>
          <input id="verb" name="verb" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="transportation">Enter a mode of transportation:</label>
          <input id="transportation" name="transportation" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="alttransportation">Enter another mode of transportation:</label>
          <input id="alttransportation" name="alttransportation" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="noun">Enter a noun:</label>
          <input id="noun" name="noun" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="exclamation">Enter an exclamation:</label>
          <input id="exclamation" name="exclamation" type="text" class="form-control">
        </div>
        <button type="submit">Go!</button>
      </form>
    </div>
  </body>
</html>