<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLibs Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in words to create a custom madlibs story!</h1>
      <form action="/trip-story" method="post">
        <div class="form-group">
          <label for="adjective">Enter an adjective:</label>
          <input id="adjective" name="adjective" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="person1">Enter a name of a person:</label>
          <input id="person1" name="person1" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="person2">Enter another name of a person:</label>
          <input id="person2" name="person2" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="destination">Enter a destination for a weekend trip:</label>
          <input id="destination" name="destination" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="store">Enter a name of a store:</label>
          <input id="store" name="store" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="fooditem1">Enter a food item:</label>
          <input id="fooditem1" name="fooditem1" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="fooditem2">Enter another food item:</label>
          <input id="fooditem2" name="fooditem2" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="exclamation">Enter an exclamation:</label>
          <input id="exclamation" name="exclamation" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="noun1">Enter a noun:</label>
          <input id="noun1" name="noun1" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="noun2">Enter another noun:</label>
          <input id="noun2" name="noun2" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="yell">Enter something someone would yell:</label>
          <input id="yell" name="yell" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="verb">Enter a verb ending in "ing":</label>
          <input id="verb" name="verb" type="text" class="form-control">
        </div>
        <button type="submit">Go!</button>
      </form>
    </div>
  </body>
</html>